:root {
  /*color-scheme*/

  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navi-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navi-blue-modal-color: rgba(46, 47, 66, 0.4);
  --gray-color: rgba(46, 47, 66, 0.7);
  --white-color: #ffffff;
  --dairy-color: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*Global*/

body {
  position: relative;
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--slate-color);
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

/*Header*/

.menu {
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu-nav {
  display: flex;
}
.menu-nav-list {
  display: flex;
  align-items: center;
  padding: 24px 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: var(--iris-color);
  margin-right: 76px;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.accent {
  color: var(--navi-blue-color);
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  padding: 24px 0;
  position: relative;
  transition: color var(--transition);
}

.current {
  color: var(--ocean-color);
  position: relative;
}
.current::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean-color);
  bottom: -1px;
}
.nav-menu-item:hover,
.nav-menu-item:focus {
  color: var(--ocean-color);
}

address {
  font-style: normal;
  padding: 24px 0;
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.list-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  transition: color var(--transition);
}
.list-contacts.link {
  text-decoration: none;
}
.list-contacts:hover,
.list-contacts:focus {
  color: var(--ocean-color);
}

/*Footer*/

.footer-section {
  background-color: var(--navi-blue-color);
  padding: 100px 0;
}
.footer-tab {
  display: flex;
  align-items: baseline;
}
.footer-tab-content {
  margin: 0;
  margin-right: 120px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
  display: inline-block;
  margin-bottom: 16px;
}
.accent-footer {
  color: var(--cloud-color);
}
.footer-tab-social {
  margin: 0;
  margin-right: 80px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
}
.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footer-icons-list {
  display: flex;
  gap: 16px;
}
.social-footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--green-color);
}

.footer-subscribe-text {
  font-style: normal;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-email-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-color);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
}

.subscribe-email-input::placeholder {
  color: var(--cloud-color);
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--iris-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background: var(--ocean-color);
}

.icon-subscribe {
  margin-left: 16px;
  fill: var(--cloud-color);
}
/*Modal*/
@keyframes openingModal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navi-blue-modal-color);
  margin: 0;
  bottom: 0;
  animation: openingModal 3000ms ease-in-out 200ms;
  animation-direction: normal;
  transition: opacity var(--transition), visibility var(--transition);
}

.modal-form {
  display: flexbox;
  align-items: start;
  justify-content: start;
  position: absolute;
  background-color: var(--cornflower-color);
  background: var(--dairy-color);
  width: 408px;
  min-height: 584px;
  margin: 0;
  padding: 0;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--navi-blue-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--transition);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color var(--transition), border var(--transition);
}
.close-icon {
  transition: fill var(--transition);
}
.close-button:hover,
.close-button:focus {
  background-color: var(--ocean-color);
  border: none;
  fill: var(--white-color);
}
.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.fields {
  margin-bottom: 8px;
}
.field-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
  display: block;
  margin-bottom: 4px;
}

.field-input {
  position: relative;
}

.username {
  width: 100%;
  height: 40px;
  border: 1px solid var(--navi-blue-modal-color);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--transition);
}

.username:focus {
  border-color: var(--iris-color);
}

.icon-lable {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
  fill: var(--navi-blue-color);
}

.username:focus + .icon-lable {
  fill: var(--iris-color);
}

.comments {
  margin-bottom: 16px;
}

.comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navi-blue-modal-color);
  border: 1px solid var(--navi-blue-modal-color);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color var(--transition);
}

.comment:focus {
  border-color: var(--iris-color);
}

.privacy {
  margin-bottom: 24px;
}

.privacy-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid var(--navi-blue-modal-color);
  border-radius: 2px;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.policy:checked + .privacy-lable .checkbox {
  border: none;
  background-color: var(--ocean-color);
  fill: var(--cloud-color);
}

.privacy-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--iris-color);
}

.button-send {
  min-width: 169px;
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  background: var(--iris-color);
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition);
  margin: 0 auto;
}

.button-send:hover,
.button-send:focus {
  background: var(--ocean-color);
}
/*index.html*/
/*Перша секція*/

.hero-section {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 188px 0;
  max-width: 1440px;
}
.title {
  color: var(--white-color);
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.order-service-button {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--iris-color);
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color var(--transition);
}
.order-service-button:hover,
.order-service-button:focus {
  background-color: var(--ocean-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Друга секція*/

.strategy-section {
  padding: 120px 0;
}
.stratgy-section-list {
  display: flex;
  gap: 24px;
}
.stratgy-section-item {
  width: calc((100% - 72px) / 4);
}
.strategy-section-title {
  color: var(--navi-blue-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.strategy-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

/*Третя секція*/

.product-section {
  padding-bottom: 120px;
  text-align: center;
}
.product-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue-color);
  margin-bottom: 72px;
}
.product-section-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.product-section-item {
  width: calc((100% - 48px) / 3);
}
.product-section > img {
  border: 1px solid var(--cornflower-color);
}

/*Четверта секція*/

.team-section {
  background-color: var(--cloud-color);
  text-align: center;
  padding: 120px 0;
}
.team-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue-color);
  margin: 0;
  margin-bottom: 72px;
}
.team-section-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.team-cards-item {
  background-color: var(--white-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-cards {
  padding: 32px 0px;
}
.team-cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.social-icons-list {
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icons-item {
  height: 40px;
  width: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.social-icon {
  fill: var(--cloud-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-color);
}
/*Customers section*/
.customers-section {
  padding: 0;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0;
  text-align: center;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 88px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate-color);
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  transition: border-color var(--transition), color var(--transition);
}
.customers-icon {
  fill: currentColor;
  transition: fill, var(--transition);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean-color);
  color: var(--ocean-color);
}
.customers-link:hover .customers-icon {
  fill: var(--ocean-color);
}
/*Portfolio.html*/

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower-color);
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.product-item-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.product-link {
  display: block;
  transition: box-shadow var(--transition);
}
.product-item {
  width: calc((100% - 48px) / 3);
}

.product-card {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}
.product-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  margin-bottom: 8px;
}
.product-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.product-item .link:hover,
.product-item .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-card {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  padding: 40px 32px;
  background-color: var(--iris-color);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.product-item .link:hover .overlay,
.product-item .link:focus .overlay {
  transform: translateY(0);
}
